@using Strem.Plugins.Analytics.Services.Repositories
@using Strem.Plugins.Analytics.Models
@using Strem.Plugins.Analytics.Services.Repositories.Queries
@using Strem.Plugins.Analytics.Types
@inject IStreamInteractionRepository InteractionRepository

<div class="@ChartContainerStyles">
    <div class="box has-background-info has-text-white">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label has-text-white">Interaction Types</label>
            </div>
            <div class="field-body">
                <div class="control">
                    <AutoComplete Data="PreMadeInteractionTypes" @bind-Value="InteractionType" />
                </div>
            </div>
        </div>
    </div>
    
    @{ var data = GetInteractions(); }
    @if (data.Count == 0)
    { <p>No Data For Period</p> }
    else
    {
        <div class="box">
            <ApexChart TItem="StreamInteraction" Title="Stream Interactions" Height="400" OnZoomed="ResetBreakdownPeriod">
                <ApexPointSeries TItem="StreamInteraction" Items="data" Name="@InteractionType" SeriesType="SeriesType.Line"
                                 XValue="@(e => e.InteractionDateTime.ToString("g"))"
                                 YAggregate="@(e => e.Count())"
                                 OrderBy="x => x.X"/>
            </ApexChart>
        </div>

        <div class="box has-background-info has-text-white">
            <h3 class="title is-4">Top Interactions</h3>
            <div class="content">
                <ol>
                    @foreach (var topInteractions in GetTopInteractions(data))
                    {
                        <li><span class="has-text-weight-bold">@topInteractions.Name</span> (@topInteractions.Count @(InteractionType)s)</li>
                    }
                </ol>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public DateTime StartPeriod { get; set; }
    
    [Parameter]
    public DateTime EndPeriod { get; set; }
    
    [Parameter]
    public string PlatformContext { get; set; }
    
    [Parameter]
    public string SourceContext { get; set; }
    
    [Parameter]
    public string ChartContainerStyles { get; set; } = string.Empty;

    public string[] PreMadeInteractionTypes = new[] { InteractionTypes.ChatMessage, InteractionTypes.UserJoined, InteractionTypes.UserLeft };
    public string InteractionType { get; set; } = InteractionTypes.ChatMessage;

    public string MinDateRange { get; set; }
    public string MaxDateRange { get; set; }

    protected override void OnInitialized()
    {
        MinDateRange = StartPeriod.ToString("g");
        MaxDateRange = EndPeriod.ToString("g");
        base.OnInitialized();
    }
    
    public void ResetBreakdownPeriod(ZoomedData<StreamInteraction> zoomedData)
    {
        if (!zoomedData.IsZoomed)
        {
            MinDateRange = StartPeriod.ToString("g");
            MaxDateRange = EndPeriod.ToString("g");
            return;
        }
    }

    public IEnumerable<(string Name, int Count)> GetTopInteractions(IReadOnlyCollection<StreamInteraction> data)
    {
        return data.GroupBy(x => x.UserContext)
            .Select(x => (Name: x.First().UserContext, Count: x.Count()))
            .OrderByDescending(x => x.Count)
            .Take(5);
    }

    public IReadOnlyCollection<StreamInteraction> GetInteractions()
    {
        var query = new GetInteractionsQuery(SourceContext, PlatformContext, StartPeriod, EndPeriod, new [] {InteractionType});
        var results = InteractionRepository.Query(query);
        return results.ToArray();
    }
}