@using Strem.Plugins.Analytics.Services.Repositories
@using Strem.Plugins.Analytics.Models
@using Strem.Plugins.Analytics.Services.Repositories.Queries
@using Strem.Plugins.Analytics.Types
@using System.Diagnostics
@inject IStreamMetricRepository MetricRepository

<div class="@ChartContainerStyles">
    
    <div class="box has-background-info has-text-white">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label has-text-white">Metrics Types</label>
                    <div class="control">
                        <AutoComplete Data="PreMadeMetricTypes" @bind-Value="MetricType"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @{ var data = GetMetrics(); }
    @if (data.Count == 0)
    { <p class="box">No Data For Period</p> }
    else
    {
        <div class="box">
            <ApexChart TItem="StreamMetric" Title="Stream Metrics" Height="400" OnZoomed="ResetBreakdownPeriod" XAxisType="XAxisType.Datetime">
                <ApexPointSeries TItem="StreamMetric" Items="data" Name="@GetNiceTypeName()" SeriesType="SeriesType.Line"
                                 XValue="@(e => e.MetricDateTime)"
                                 YAggregate="@(e => e.Count())"
                                 OrderBy="x => x.X"/>
            </ApexChart>
        </div>
        
        <div class="box has-background-info has-text-white">
            <h3 class="title is-4 is-capitalized">Top @(GetNiceTypeName()) between @(MinDateRange.ToString("f")) - @(MaxDateRange.ToString("f"))</h3>
            <div class="content">
                <ol>
                    @foreach (var topInteractions in GetTopMetrics(data))
                    {
                        <li><span class="has-text-weight-bold">@topInteractions.Name</span> (@topInteractions.Count @GetNiceTypeName())</li>
                    }
                </ol>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public DateTime StartPeriod { get; set; }
    
    [Parameter]
    public DateTime EndPeriod { get; set; }
    
    [Parameter]
    public string PlatformContext { get; set; }
    
    [Parameter]
    public string SourceContext { get; set; }

    [Parameter]
    public string ChartContainerStyles { get; set; } = string.Empty;

    public string[] PreMadeMetricTypes = new[] { MetricTypes.ViewerCount, MetricTypes.Currency };

    public string MetricType { get; set; } = MetricTypes.ViewerCount;
    public DateTime MinDateRange { get; set; }
    public DateTime MaxDateRange { get; set; }

    protected override void OnInitialized()
    {
        MinDateRange = StartPeriod;
        MaxDateRange = EndPeriod;
        base.OnInitialized();
    }
    
    public void ResetBreakdownPeriod(ZoomedData<StreamMetric> zoomedData)
    {
        if (!zoomedData.IsZoomed)
        {
            MinDateRange = StartPeriod;
            MaxDateRange = EndPeriod;
            return;
        }
        
        if (zoomedData.XAxis.Min.HasValue)
        { MinDateRange = DateTime.UnixEpoch.AddMilliseconds((double)zoomedData.XAxis.Min.Value); }
        else
        { MinDateRange = StartPeriod; }
        
        if (zoomedData.XAxis.Max.HasValue)
        { MaxDateRange = DateTime.UnixEpoch.AddMilliseconds((double)zoomedData.XAxis.Max.Value); }
        else
        { MaxDateRange = EndPeriod; }
    }

    public string GetNiceTypeName()
    {
        var sanitisedName = MetricType.Replace("-", " ").Replace("_", " ");
        return $"{sanitisedName}s";
    }
    
    public IEnumerable<(string Name, int Count)> GetTopMetrics(IReadOnlyCollection<StreamMetric> data)
    {
        return data
            .Where(x => x.MetricDateTime >= MinDateRange && x.MetricDateTime <= MaxDateRange)
            .GroupBy(x => x.UserContext)
            .Select(x => (Name: x.First().UserContext, Count: x.Count()))
            .OrderByDescending(x => x.Count)
            .Take(5);
    }

    public IReadOnlyCollection<StreamMetric> GetMetrics()
    {
        var query = new GetMetricsQuery(SourceContext, PlatformContext, StartPeriod, EndPeriod, new [] {MetricType});
        var results = MetricRepository.Query(query);
        return results.ToArray();
    }
}