@using Strem.Plugins.Analytics.Services.Repositories
@using Strem.Plugins.Analytics.Models
@using Strem.Plugins.Analytics.Services.Repositories.Queries
@using Strem.Plugins.Analytics.Types
@using System.Diagnostics
@inject IStreamInteractionRepository InteractionRepository

<div class="@ChartContainerStyles">
    
    @*
    <div class="box has-background-info has-text-white">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label has-text-white">Interaction Types</label>
                    <div class="control">
                        <AutoComplete Data="PreMadeInteractionTypes" @bind-Value="InteractionType"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    *@
    
    @{ var data = GetInteractions(); }
    @if (data.Count == 0)
    { <p class="box">No Data For Period</p> }
    else
    {
        <div class="box">
            <ApexChart TItem="StreamInteraction" Title="Stream Interactions" Height="400" OnZoomed="ResetBreakdownPeriod" XAxisType="XAxisType.Datetime">
                
                @foreach (var perInteractionData in data.GroupBy(x => x.InteractionType))
                {
                    <ApexPointSeries TItem="StreamInteraction" Items="perInteractionData" Name="@GetNiceTypeName(perInteractionData.Key)" SeriesType="SeriesType.Line"
                                     XValue="@(e => e.InteractionDateTime)"
                                     YAggregate="@(e => e.Count())"
                                     OrderBy="x => x.X"/>
                }
                
            </ApexChart>
        </div>

        <div class="box has-background-info has-text-white">
            <h3 class="title is-4 is-capitalized">Top @(GetNiceTypeName(InteractionTypes.ChatMessage))s between @(MinDateRange.ToString("f")) - @(MaxDateRange.ToString("f"))</h3>
            <div class="content">
                <ol>
                    @foreach (var topInteractions in GetTopInteractions(data, InteractionTypes.ChatMessage))
                    {
                        <li><span class="has-text-weight-bold">@topInteractions.Name</span> (@topInteractions.Count @GetNiceTypeName(InteractionTypes.ChatMessage)s)</li>
                    }
                </ol>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public DateTime StartPeriod { get; set; }
    
    [Parameter]
    public DateTime EndPeriod { get; set; }
    
    [Parameter]
    public string PlatformContext { get; set; }
    
    [Parameter]
    public string SourceContext { get; set; }
    
    [Parameter]
    public string ChartContainerStyles { get; set; } = string.Empty;

    public string[] PreMadeInteractionTypes = new[] { InteractionTypes.ChatMessage, InteractionTypes.UserJoined, InteractionTypes.UserLeft };
    public string InteractionType { get; set; } = InteractionTypes.ChatMessage;

    public DateTime MinDateRange { get; set; }
    public DateTime MaxDateRange { get; set; }

    protected override void OnInitialized()
    {
        MinDateRange = StartPeriod;
        MaxDateRange = EndPeriod;
        base.OnInitialized();
    }

    public string GetNiceTypeName(string interactionType)
    { return interactionType.Replace("-", " ").Replace("_", " "); }
    
    public void ResetBreakdownPeriod(ZoomedData<StreamInteraction> zoomedData)
    {
        if (!zoomedData.IsZoomed)
        {
            MinDateRange = StartPeriod;
            MaxDateRange = EndPeriod;
            return;
        }
        
        if (zoomedData.XAxis.Min.HasValue)
        { MinDateRange = DateTime.UnixEpoch.AddMilliseconds((double)zoomedData.XAxis.Min.Value); }
        else
        { MinDateRange = StartPeriod; }
        
        if (zoomedData.XAxis.Max.HasValue)
        { MaxDateRange = DateTime.UnixEpoch.AddMilliseconds((double)zoomedData.XAxis.Max.Value); }
        else
        { MaxDateRange = EndPeriod; }
    }

    public IEnumerable<(string Name, int Count)> GetTopInteractions(IReadOnlyCollection<StreamInteraction> data, string interactionType)
    {
        return data
            .Where(x => x.InteractionType == interactionType && x.InteractionDateTime >= MinDateRange && x.InteractionDateTime <= MaxDateRange)
            .GroupBy(x => x.UserContext)
            .Select(x => (Name: x.First().UserContext, Count: x.Count()))
            .OrderByDescending(x => x.Count)
            .Take(5);
    }

    public IReadOnlyCollection<StreamInteraction> GetInteractions()
    {
        var query = new GetInteractionsQuery(SourceContext, PlatformContext, StartPeriod, EndPeriod);
        var results = InteractionRepository.Query(query);
        return results.ToArray();
    }
}